[Unit]
Description=Compositor for X11, based on xcompmgr
Documentation=https://github.com/chjj/compton
After=display-manager.service

[Service]
ExecStart=/usr/bin/compton
Restart=always

[Install]
WantedBy=default.target
