[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
Environment=TERM=rxvt-unicode-256color
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always
[Install]
WantedBy=default.target
