[Unit]
Description=Emacs-nox server socket

[Socket]
ListenStream=%t/emacs/nox
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target

