# -*- mode: shell-script; -*-
# Global
alias -g 192=192.168.0.1

# Misc
alias h=history
alias ss="ss -ltunp"
alias ip="ip -c"
alias lintian="lintian -iIEv --pedantic"
alias df="df -h --total"
alias fcp="fc -p ~/.zsh_history; cd ~; clear;  tmux clear-history"
alias mc="SHELL=/bin/bash mc"
alias git-b='gbp buildpackage -us -uc --git-pristine-tar --git-export-dir=/tmp/build/build_$(date +%s) '
alias ll='ls -lah'
alias l='ls -lh'
alias sgnl='tmux setw monitor-activity on; autossh signal'
alias metar_epwa_curl='curl https://waw.minik.pl/metar/stream/'
alias czantoria='~/syncthing/bin/scrape_czantoria_weather.py | jq .'

alias m="mutt"
alias s="signal-send"

alias mcc="mc ~/.config"
alias mcl="mc ~/.local/share"

alias rs="redshift_wrapper"
alias nm="notmuch"

# avoid running ghostscript
alias gs="echo 'gs?'"
alias g="git status"

alias irssi="autossh irssi"
alias profanity="ssh profanity"

alias p="ping -w5 -c1 1.1.1.1"
alias waw="ping -w5 -c1 10.4.2.1"
alias wisla="ping -w5 -c1 10.0.0.1"

alias wp="wpa_cli"
alias mb="mbsync_wrapper minik"
alias imap_list="imap_idle -l"
alias im="imap_idle -l"

# ansible
alias aplaybook='ansible-playbook'
alias adoc='ansible-doc'
alias aval='ansible-vault'
alias alint='ansible-lint'

# debian
alias ach='apt changelog'
alias aac='sudo apt autoclean'
alias aar='sudo apt autoremove'
alias ach='apt changelog'
alias acs='apt-cache search'
alias ad='sudo apt update'
alias afs='apt-file search --regexp'
alias ai='sudo apt install'
alias ap='sudo apt purge'
alias au='sudo apt upgrade'

# docker-compose
alias dco="docker-compose"
alias dcb="docker-compose build"
alias dce="docker-compose exec"
alias dcps="docker-compose ps"
alias dcrestart="docker-compose restart"
alias dcrm="docker-compose rm"
alias dcr="docker-compose run"
alias dcstop="docker-compose stop"
alias dcup="docker-compose up"
alias dcupb="docker-compose up --build"
alias dcupd="docker-compose up -d"
alias dcupdb="docker-compose up -d --build"
alias dcdn="docker-compose down"
alias dcl="docker-compose logs"
alias dclf='docker-compose logs -f --tail 50'
alias dcstart="docker-compose start"

# git
alias g='git status'
alias ga='git add'
alias gb='git branch'
alias gc='git commit --verbose'
alias 'gc!'='git commit --verbose --amend'
alias gca='git commit --verbose --all'
alias 'gca!'='git commit --verbose --all --amend'
alias gcam='git commit --all --message'
alias gco='git checkout'
alias gd='git diff'
alias gl='git pull'
alias gg='git log --graph --pretty="%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset" --date=short'
alias gp='git push'
alias grs='git restore'
alias gsw='git switch'
alias gwip='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit --no-verify --no-gpg-sign --message "--wip-- [skip ci]"'

# journal
alias jf='journalctl -f -n100'
alias je='journalctl -e'

# systemd
alias uq='systemctl list-units | grep $1'
alias lf='systemctl list-units --state=failed'
alias sc-cat='systemctl cat'
alias sc-daemon-reload='sudo systemctl daemon-reload'
alias sc-disable='sudo systemctl disable'
alias sc-edit='sudo systemctl edit'
alias sc-enable='sudo systemctl enable'
alias sc-list-units='systemctl list-units'
alias sc-list-timers='systemctl list-timers'
alias sc-reload='sudo systemctl reload'
alias sc-reload-or-restart='sudo systemctl reload-or-restart'
alias sc-reset-failed='sudo systemctl reset-failed'
alias sc-restart='sudo systemctl restart'
alias sc-show='systemctl show'
alias sc-start='sudo systemctl start'
alias sc-status='systemctl status'
alias sc-stop='sudo systemctl stop'
alias scu-cat='systemctl --user cat'
alias scu-daemon-reload='systemctl --user daemon-reload'
alias scu-disable='systemctl --user disable'
alias scu-enable='systemctl --user enable'
alias scu-list-timers='systemctl --user list-timers'
alias scu-list-units='systemctl --user list-units'
alias scu-reload='systemctl --user reload'
alias scu-reload-or-restart='systemctl --user reload-or-restart'
alias scu-reset-failed='systemctl --user reset-failed'
alias scu-restart='systemctl --user restart'
alias scu-show='systemctl --user show'
alias scu-start='systemctl --user start'
alias scu-status='systemctl --user status'
alias scu-stop='systemctl --user stop'
