# -*- mode: shell-script; -*-
# Global
alias -g 192=192.168.0.1

# Misc
alias h=history
alias sgnl='tmux setw monitor-activity on; autossh signal'

# ansible
alias aplaybook='ansible-playbook'
alias adoc='ansible-doc'
alias aval='ansible-vault'
alias alint='ansible-lint'

# debian
alias aac='sudo apt autoclean'
alias aar='sudo apt autoremove'
alias ach='apt changelog'
alias acs='apt-cache search'
alias ad='sudo apt update'
alias afs='apt-file search --regexp'
alias ai='sudo apt install'
alias alu='sudo apt update && apt list -u && sudo apt upgrade'
alias ap='sudo apt purge'
alias au='sudo apt upgrade'

# docker-compose
alias dco="docker-compose"
alias dcb="docker-compose build"
alias dce="docker-compose exec"
alias dcps="docker-compose ps"
alias dcrestart="docker-compose restart"
alias dcrm="docker-compose rm"
alias dcr="docker-compose run"
alias dcstop="docker-compose stop"
alias dcup="docker-compose up"
alias dcupb="docker-compose up --build"
alias dcupd="docker-compose up -d"
alias dcupdb="docker-compose up -d --build"
alias dcdn="docker-compose down"
alias dcl="docker-compose logs"
alias dclf='docker-compose logs -f --tail 50'
alias dcstart="docker-compose start"

# git
alias g='git status'
alias ga='git add'
alias gb='git branch'
alias gc='git commit --verbose'
alias 'gc!'='git commit --verbose --amend'
alias gca='git commit --verbose --all'
alias 'gca!'='git commit --verbose --all --amend'
alias gcam='git commit --all --message'
alias gco='git checkout'
alias gd='git diff'
alias gl='git pull'
alias glods='git log --graph --pretty="%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset" --date=short'
alias gp='git push'
alias grs='git restore'
alias gsw='git switch'
alias gwip='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit --no-verify --no-gpg-sign --message "--wip-- [skip ci]"'

# systemd
alias sc-cat='systemctl cat'
alias sc-daemon-reload='sudo systemctl daemon-reload'
alias sc-disable='sudo systemctl disable'
alias sc-edit='sudo systemctl edit'
alias sc-enable='sudo systemctl enable'
alias sc-list-units='systemctl list-units'
alias sc-list-timers='systemctl list-timers'
alias sc-reload='sudo systemctl reload'
alias sc-reload-or-restart='sudo systemctl reload-or-restart'
alias sc-reset-failed='sudo systemctl reset-failed'
alias sc-restart='sudo systemctl restart'
alias sc-show='systemctl show'
alias sc-start='sudo systemctl start'
alias sc-status='systemctl status'
alias sc-stop='sudo systemctl stop'
alias scu-cat='systemctl --user cat'
alias scu-daemon-reload='systemctl --user daemon-reload'
alias scu-disable='systemctl --user disable'
alias scu-enable='systemctl --user enable'
alias scu-list-timers='systemctl --user list-timers'
alias scu-list-units='systemctl --user list-units'
alias scu-reload='systemctl --user reload'
alias scu-reload-or-restart='systemctl --user reload-or-restart'
alias scu-reset-failed='systemctl --user reset-failed'
alias scu-restart='systemctl --user restart'
alias scu-show='systemctl --user show'
alias scu-start='systemctl --user start'
alias scu-status='systemctl --user status'
alias scu-stop='systemctl --user stop'
