! Dracula Xresources palette
Xft.autohint:      false
Xft.antialias:     true
Xft.rgba:          none
Xft.hinting:       true
Xft.hintstyle:     hintslight
Xft.lcdfilter:     lcddefault
Xft.dpi:           120

