[Desktop Entry]
Name=Mpv
Name[bg]=Mpv
Name[ca]=Mpv
Name[ca@valencia]=Mpv
Name[cs]=Mpv
Name[da]=Mpv
Name[de]=Mpv
Name[el]=Mpv
Name[es]=Mpv
Name[fi]=Mpv
Name[fr]=Mpv
Name[gl]=Mpv
Name[he]=Mpv
Name[hu]=Mpv
Name[it]=Mpv
Name[ja]=Mpv
Name[lt]=Mpv
Name[nl]=Mpv
Name[oc]=Mpv
Name[pl]=Mpv
Name[pt]=Mpv
Name[pt_BR]=Mpv
Name[ru]=Mpv
Name[sk]=Mpv
Name[sr]=Вјувниор
Name[sv]=Mpv
Name[tr]=Mpv
Name[uk]=Mpv
Name[zh_CN]=Mpv
Comment=Elegant video player
TryExec=mpv
Exec=mpv %F
Icon=mpv
StartupNotify=true
Terminal=false
Type=Application
Categories=Video;Viewer;
MimeType=video/mkv;video/mp4;video/x-msvideo;video/avi;video/x-matroska;video/quicktime
Keywords=video;avi,mp4;mov
